/* Cabeçalho */

#logo {
	width: 50px;
}

.background {
	position: relative;
	background-image: url(imagens/bg.jpg);
	height: 316px;
	background-position: bottom;
	background-attachment: fixed; 
}

.navbar-branca {
	background: white;
}

/* Conteudo Principal */
.cinza1 {
	background: #ececec;
}

.cinza2 {
	background: #f8f8f8;
}


h2, h3, .c-number {
    font-size: 1.2rem;
    line-height: 1.45;
    text-transform: uppercase;
}

h1, h2, h3, .c-number, h4, h5, h6 {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #727272;
}

p {
	color: #949494;
}

.sobrepor {
	z-index: -1;
}

.pad {
	padding: 80px 73px 23px;
}


 a {
	color: #949494;
}

/* Contato */
#contato a:hover {
	color: blue;
}


/* Rodape */
.botao {
	font-size: 30px;
	margin: 25px;
}

.titulo-rodape {
	font-weight: 0;
	font-size: 0.875em;
}

/* Linha do tempo */
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.clear {
    clear: both;
}