/* Limpar Formatações padrões */
 *{
 	margin: 0;
 	padding: 0;
 }

 body{
 	background: #E6E6E6;
 	font-size: 1em;
 	font-family: "Trebuchet MS", Helvetica, sans-serif;

 }

 /* Layout */

 #area-cabecalho{
 	background-color: #f7b600;
 	text-align: center;
 	padding: 15px;
 }

 #area-logo, #area-menu{
 	padding: 10px;
 }

 .branco{
 	color: white;
 }

h1{
 	font-size: 2.5em;
 }

 /* Links */
a{
	text-decoration: none;
	font-size: 1.2em;
}
 #area-cabecalho a:link, #area-cabecalho a:visited{
	color: #FFF;
	padding: 8px 16px;
	text-decoration: none;
 }

#area-cabecalho a:hover{
	color: #f7b600;
	background: white;
}

a:link, a:visited{
	color: #f7b600;
}

a:hover{
	text-decoration: underline;
}

/*
Conteudo
*/

h2{
	color: #f7b600;
}

h3 {
	color: #565656;
	background: #CCC;
	padding: 5px;
}

#area-principal {
	width: 920px;
	margin: 0 auto;
	padding: 15px;
}

#area-postagens{
	width: 660px;
	float: left;
}

#area-lateral{
	width: 240px;
	float: right;
}

.postagem{
	padding: 20px;
	margin-bottom: 20px;
	background:white;
}

.data-postagem{
	font-size: 0.8em;
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 10px;
	margin-bottom: 10px;
	display: block;	
}

.clear{
	clear: both;
}

/* Area lateral */

.conteudo-lateral{
	background: white;
	padding: 20px;
	margin-bottom: 20px;
}

.texto-lateral{
	font-size: 0.8em;
	padding: 5px;
}

#rodape{
	color: #151515;
	text-align: center;
}