/* Cabeçalho */

#logo {
	width: 50px;
}

.background {
	position: relative;
	background-image: url(imagens/bg.jpg);
	height: 316px;
	background-position: bottom;
	background-attachment: fixed; 
}

.navbar-branca {
	background: white;
}

/* Conteudo Principal */
.cinza1 {
	background: #ececec;
}

.cinza2 {
	background: #f8f8f8;
}
w

h2, h3, .c-number {
    font-size: 1.2rem;
    line-height: 1.45;
    text-transform: uppercase;
}

h1, h2, h3, .c-number, h4, h5, h6 {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #727272;
}

p {
	color: #949494;
}

.sobrepor {
	z-index: -1;
}

.pad {
	padding: 80px 73px 23px;
}


 a {
	color: #949494;
}

/* Contato */
#contato a:hover {
	color: blue;
}


/* Rodape */
.botao {
	font-size: 30px;
	margin: 25px;
}

.titulo-rodape {
	font-weight: 0;
	font-size: 0.875em;
}